html,
body {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    background-color: #e7e6e6;
    line-height: 0;
    box-shadow: 0px 3px 0px #bebebe;
}

header .logo {
    float: left;
}

header .logo #img1 {
    width: 400px;
    height: 140px;
}

header ul.navbar {
    float: left;
    margin: 0;
    padding: 0;
}

header ul.navbar li {
    display: inline-block;
    margin-left: 181px;
    font-size: 32px;
}

header ul.navbar li a {
    color: #000;
    text-decoration: none;
    transition: 1.5S;
}

header ul.navbar li a:hover {
    color: #56718a;
}

/*content*/
/* .content 
    background-color: aqua;{}
*/

/*footer*/
footer {
    /*margin: 30px;*/
    /*margin-top: 0px;*/
    /*margin: 30px 0 0 0;*/
    /*kenarların üstten başlar saat yönüne devam eder*/
    padding: 30px;
    background: #ddd;
    text-align: center;
}

/*slider*/


/*about*/
#about {
    background-color: #e7e6e6;
    /*min-height: 300px;*/
    padding: 300px 700px 200px 600px;
    min-height: 640px;
}

/*img*/
#aboutİmg {
    padding: 0;
    margin: -254px 0px 150px -512px;
    width: 400px;
    height: 140px;
}



/*slogan*/
.slogan {
    font-size: 100px;
    width: 1200px;
    height: 115px;
    margin: -280px 0px 0px 0px;
    color: rgb(45, 75, 121);
}

/*text*/

.text {
    margin: 0;
    padding: 0;
}

.text p {
    display: inline-block;
    font-size: 25px;
}

/*informations*/
.informations {
    display: inline-flex;
    /* margin: 90px 0px 0px 0px; */
    font-size: 20px;
    /* position: relative; */
    align-items: center;
    float: right;
    bottom: 600px;
}


/*
#faq { --->1. ID
    background-color: aquamarine;
}

.faq { --->2. CLASS
    background-color: #f00;
}

body { --->3. HTML TAG
    background-color: blue !important; ---> IMPORTANT -> DİĞERLERİNİ EZER
}
*/


/*title*/
/*
<body class="faq color">
    <div class="content">
        <span>
            <h1 class="title">blue</h1>
        <span>
        <h1 class="title">blue</h1>
        <h1>blue</h1>
    </div>
</body>
*/

/*
.faq .content .title {
    color: blue;
}
*/

/*iç içe sarmal*/
.faq>.content>.title {
    /*buradaki boşluklar altındaki seçiçiyi bulmaya çalışır*/
    color: blue;
}


/*
.faq.color .title {
    color: blue;
}
*/