html,
body {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    background-image: linear-gradient(to bottom, #ddd, #56718a);
    line-height: 0;
}

header .logo {
    float: left;
}

header .logo #img1 {
    width: 400px;
    height: 140px;
}

header ul.navbar {
    float: left;
    margin: 0;
    padding: 0;
}

header ul.navbar li {
    display: inline-block;
    margin-left: 181px;
    font-size: 32px;
}

header ul.navbar li a {
    color: #000;
    text-decoration: none;
    transition: 1.5S;
}

header ul.navbar li a:hover {
    color: #56718a;
}

/*content*/
.content {
    /*background-color: aqua;*/
    min-height: 1200px;
    background-color: #56718a;
}

/*footer*/
footer {
    /*margin: 30px;*/
    /*margin-top: 0px;*/
    /*margin: 30px 0 0 0;*/
    /*kenarlarÄ±n Ã¼stten baÅŸlar saat yÃ¶nÃ¼ne devam eder*/
    padding: 30px;
    background: #c0c0c0;
    text-align: center;
}

/*slider*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content-slider {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px 0;
}

.slider{
    position: relative;
}

.slider-1 {
    width: 100px;
    height: 100px;
    position: relative;
}

.slider img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.next,
.back {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 10px;
}

.back {
    left: 0;
}

.next {
    right: 0;
}

.next>i,
.back>i {
    color: #2d4b79;
}

.next>i:hover,
.back>i:hover {
    text-decoration: none;
    transition: 1.5S;
    color: #000;
}

/*about*/
#about {
    background-color: #ddd;
    /*min-height: 300px;*/
    padding: 0;
    min-height: 750px;
}

/*img*/
#aboutİmg {
    margin: 40px 0px 0px 40px;
    width: 400px;
    min-height: 140px;
}



/*slogan*/
.slogan {
    font-size: 100px;
    float: right;
    margin: 50px 130px 0px 0px;
    color: #2d4b79;
}

/*text*/

#text {
    font-size: 20px;
    padding: 0px 175px 0px 175px;
    text-align: left;
}

.text {
    display: inline-block;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
}

/* informations */
.informations-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 5px;
    margin-top: 34px;
}

.informations {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 17px;
    text-align: center;
    color: #1a3f75;
}


/*
#faq { --->1. ID
    background-color: aquamarine;
}

.faq { --->2. CLASS
    background-color: #f00;
}

body { --->3. HTML TAG
    background-color: blue !important; ---> IMPORTANT -> DÄ°ÄERLERÄ°NÄ° EZER
}
*/


/*title*/
/*
<body class="faq color">
    <div class="content">
        <span>
            <h1 class="title">blue</h1>
        <span>
        <h1 class="title">blue</h1>
        <h1>blue</h1>
    </div>
</body>
*/

/*
.faq .content .title {
    color: blue;
}
*/

/*iÃ§ iÃ§e sarmal*/
.faq>.content>.title {
    /*buradaki boÅŸluklar altÄ±ndaki seÃ§iÃ§iyi bulmaya Ã§alÄ±ÅŸÄ±r*/
    color: blue;
}


/*
.faq.color .title {
    color: blue;
}
*/